node_modules
.git
.gitignore
README.md
.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
.phpunit.result.cache
tests
docker
.dockerignore
Dockerfile
docker-compose.yml
